@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@400;600&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap");

/* font-family: "Inter", sans-serif;
font-family: "Nunito Sans", sans-serif; */
/* font-family: "Inter", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Nunito Sans", sans-serif; */

:root {
  --font-base: "Montserrat", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --light-brown: #f2bd00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@media screen and (max-width: 327px) {
  body {
    width: 103%;
    overflow: none;
  }
}
